/*div.cover1
{
	content:url("Guitar-cover.jpg","Guitar.png");
	position: relative;
	height: 500px;
	width: 100%;;
}*/
li
{

  font-size: 20px;
}
.cover{

  height: 100vh;
  width: auto;
  background-image: url(cov.jpg);
  background-attachment: fixed;
    background-size: 100% 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 5%;

  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;*/

}
#section1 {padding-top:50px;height:100vh;}
  #section2 {padding-top:50px;height:100vh;}
  #section3 {padding-top:50px;height:100vh;}

.cover:hover {
      box-shadow: 40px 20px 60px 20px ;
  }
.cover1{
   box-shadow: 40px 20px 60px 20px ;
}
.cover1{

  height: 100vh;
  width: auto;
  background-image: url(cov.jpg);
    background-size: 100% 100%;
    overflow: auto;
    position: relative;
    margin-bottom: 7%;



  /*display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;*/

}
.title_text
{
  height: 100px;
  width: auto;
  background-image: url(untitled-2.png);
  background-repeat: no-repeat;
  background-position: left bottom;
}

.video
{
  position: absolute; 
  top: 0px; 
  left: 0px; 
  width: 100%; 
  height: 100%; 
  max-width: 860px; 
  max-height: 515px;
}
.panel1:hover {
      box-shadow: 15px 40px 40px ;
  }
  .panel-footer .btn:hover {
      border: 1px solid #f4511e;
      background-color: #fff !important;
      color: #f4511e;
  }

/*
.image1
{
   background-image: url(aradhya.png);
   background-size: 40% 60%;
   background-repeat: no-repeat;
   background-position: bottom right;
   visibility: hidden;
 

    margin-right: 0px;
    width: 100%;
    height: 100%;
    position: absolute;
    
}

#giveborder
{
  border: dashed;
  border-color: black;
  opacity: 0;
}
.land1,.land2,.land3,.land4 {
    overflow: hidden;
    position: relative;
    margin-left: 5%;
     float: left;
    width: 10%;
    height: 100px;
    background-color: white;
    border: 1px solid black;
}*/